body {
  background-image: url("wood.png");
  background-size: cover;
}

#searchSubmit {
  /* vertical-align: middle; */
  /* position: relative; */
  margin-top: 40%;
}

img {
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
}

#imageBoxes {
  /* margin-top: 10%;
  margin-bottom: 10%; */
  max-width: 90%;
  max-height: 90%;
}

.card {
  padding: auto;
}

#page2 {
  max-height: 90%;
}

/* 
#row1 {
  max-height: 33.333%;
}

#row2 {
  max-height: 33.333%;
}

#row3 {
  max-height: 33.333%;
} */
